.banner-principal__componente h1
  color: #12263F
.banner-principal__descripcion p
  color: #12263F
.bg1
  background-color: #FFF3D8

.lista-ol--cuadro__vineta
  margin-right: 30px
.bloque-texto-g__texto.p-4
  width: 65%

.bg2
  background-color: #F5F5F5

.img-infografica.color-secundario .img-infografica__item__dot:before, .img-infografica.color-secundario .img-infografica__item__dot:after, .img-infografica.color-secundario .img-infografica-b__item__dot:before, .img-infografica.color-secundario .img-infografica-b__item__dot:after, .img-infografica-b.color-secundario .img-infografica__item__dot:before, .img-infografica-b.color-secundario .img-infografica__item__dot:after, .img-infografica-b.color-secundario .img-infografica-b__item__dot:before, .img-infografica-b.color-secundario .img-infografica-b__item__dot:after
  background-color: #43A99B

  